/*RESET SYSTEM*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	color:#333;
	font-size: 0.875em;
	font-family: 'Lato', sans-serif;
}
ul,
li,
a{
	list-style: none;
	padding: 0;
	margin: 0;
	outline: none;
	border: 0;
	display: block;
	float: left;
	outline: none;
	text-decoration: none;
}

form,
section,
article,
nav,
main{
	display: block;
}

input,
textarea,
select,
button{
	padding: 10px 25px;
	display: block;
	float: left;
	width: 100%;
	color: #333;
	border: 1px #eaeaea solid;
	border-radius: 2px;
}

/*BOX GRID SYSTEM*/
.box_size_100{width: 100%; float: left; display: block; padding:1em;}
.box_size_95{width: 95%; float: left; display: block; padding:1em;}
.box_size_90{width: 90%; float: left; display: block; padding:1em;}
.box_size_85{width: 85%; float: left; display: block; padding:1em;}
.box_size_80{width: 80%; float: left; display: block; padding:1em;}
.box_size_75{width: 75%; float: left; display: block; padding:1em;}
.box_size_70{width: 70%; float: left; display: block; padding:1em;}
.box_size_65{width: 65%; float: left; display: block; padding:1em;}
.box_size_60{width: 60%; float: left; display: block; padding:1em;}
.box_size_55{width: 55%; float: left; display: block; padding:1em;}
.box_size_50{width: 50%; float: left; display: block; padding:1em;}
.box_size_45{width: 45%; float: left; display: block; padding:1em;}
.box_size_40{width: 40%; float: left; display: block; padding:1em;}
.box_size_35{width: 35%; float: left; display: block; padding:1em;}
.box_size_30{width: 30%; float: left; display: block; padding:1em;}
.box_size_25{width: 25%; float: left; display: block; padding:1em;}
.box_size_20{width: 20%; float: left; display: block; padding:1em;}
.box_size_15{width: 15%; float: left; display: block; padding:1em;}
.box_size_10{width: 10%; float: left; display: block; padding:1em;}
.box_size_5{width: 5%; float: left; display: block; padding:1em;}

.container{
	display: block;
	float: left;
	width: 100%;
}
.content{
	display: block;
	width: 1360px;
	margin: 0 auto;
	padding: 1em;
}

/*BEHAVIOUR GRID SYSTEM*/
.no_padding{padding:0 !important;}
.no_padding_left{padding-left:0 !important;}
.no_padding_right{padding-right:0 !important;}
.no_padding_top{padding-top:0 !important;}
.no_padding_bottom{padding-bottom:0 !important;}

.no_margin{margin:0 !important;}
.no_margin_left{margin-left:0 !important;}
.no_margin_right{margin-right:0 !important;}
.no_margin_top{margin-top:0 !important;}
.no_margin_bottom{margin-bottom:0 !important;}
.full_width{
	display: block;
	width: 100%;
}

.clear{clear: both; width: 100%;}
.hide{display: none;}
.fontzero{font-size: 0}

/*ICONS*/
.icon{
	display: inline;
	float: left;
	width: 45px;
	height: 45px;
	background-position: center;
	background-repeat: no-repeat !important;
/*	position: relative;
top: 0.7em*/
}

/*SOCIAL ICONS*/
.icon.icon-facebook:after{
	content: url(../images/fastway/icons/facebook.png);

}
.icon.icon-twitter:after{
	content: url(../images/fastway/icons/twitter.png);

}
.icon.icon-instagram:after{
	content: url(../images/fastway/icons/instagram.png);
}

/*OTHER ICONS*/
.icon.icon-search{
	content: url(../images/fastway/icons/search.png);
}
.icon.icon-login{
	content: url(../images/fastway/icons/login.png);
}
.icon.icon-car{
	content: url(../images/fastway/icons/car.png);
}




/*MEDIAQUERY GRID SYSTEM