/*TOPO LINKS*/
body{
	background: #F8F8F8
}
.top-header{
	background: #fff
}
.top-header li{
	display: block;
	float: right;
	padding: 5px;
}
.top-header-left{

}
.top-header-left a{
	color: #333;
	text-transform: uppercase;
	font-weight: 300;
}
.top-header-left a:after{
	content: "|";
	padding-left: 1em
}

.top-header-right{
	text-align: right;
}

/*MENU PRINCIPAL*/
.nav-menu{
	background: #000;
}
.logo{
	/*background: #f00*/
}
.logo img{
	display: block;
	float: left;
}
.nav-categories{
	/*background: #666*/
}
.nav-categories li{
	display: block;
	float: left;
	padding: 0 1em;
}
.nav-categories a{
	color: #fff;
	text-transform: uppercase;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease-in;
	transition-delay: 0.3s;
}
.nav-categories a:after{
	content: "|";
	padding-left: 1.5em;
	color: #fff
}
.nav-categories a:hover{
	color: #E55FA1;
}
.nav-categories .active{
	color: #E55FA1;
}

.nav-others{
	background: #dd4c68
}
.nav-others ul{
	float: right;
}
.nav-others .link-blog{
	background: #766cdb;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease-in;
	transition-delay: 0.3s;

}
.nav-others .link-blog:hover{
	background: #8D84EB;
}

.nav-others .icon{
	padding:0;
	margin:0 5px;
	width: 45px;
	height: 45px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease-in;
	transition-delay: 0.3s;
}

.nav-others .icon.icon-login{
	width: 45px;
	height: 45px;
}
.nav-others .icon.icon-search{}
.nav-others .icon.icon-car{}

.nav-others .icon:hover{
	background-color: #EE6882
}

/*BANNER e OFFERS*/
.main_banner{
	height: 635px;
	background: url(../images/banners/bg-box-banner.png);
	position: relative;
}

.slider-content{
	position: relative;
	height: 635px;
}
.slider-item{
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0
}
.slider-item.active{
	opacity: 1;
}
.slider .prev-slider,
.slider .next-slider{
	display: block;
	width: 58px;
	height: 58px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 50%;
	margin-top: -50px;
	background-position:center;
	background-repeat: no-repeat;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in;
	transition-delay: 0.2s;
	cursor: pointer;
}
.slider .prev-slider{
	left: 0;
	z-index: 101;
	background-image:url(../images/prev-slider.png);
}
.slider .next-slider{
	right: 0;
	z-index: 100;
	background-image:url(../images/next-slider.png);
}
.slider .prev-slider:hover,
.slider .next-slider:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.main_offers{
	padding: 2px;
}
.offers .offers-item{
	background-size: 312px !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	height: 290px;
	background: rgba(248, 234, 219, 0.6);
	width: calc(50% - 15px);
	margin: 0 0px 15px 15px;
}

.box-prod img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px #F3F3F3 solid;
	border-left: 1px #F3F3F3 solid;
	border-right: 1px #F3F3F3 solid;
}
.box-prod .title{
	text-transform: uppercase;
	font-weight: 300;
	font-size:1.8em;
	color: #333;
}
.box-prod .title:before{
	content: url(../images/fastway/icons/title.png);
	padding-right: 10px;
	position: relative;
	top: 5px;
}
.box-prod .title-prod{
	font-size: 2em;
	font-weight: 300;
	color: #333;
	padding: 5px 0;
	margin:0
}
.box-prod p{
	padding:5px 0 15px;
	margin: 0;
	display: block;
	float: left;
	width: 100%;
	font-size: 1.1em
}
.box-prod .box-content-prod{
	background: #F7ECEC
}
.box-prod .price{
	font-size: 1.2em;
	color: #F7234B
}
.box-prod .promo-price{
	font-size: 2em;
	color: #F62C52
}
.box-prod .price{
	display: block;
	float: left;
	width: 100%;
	color: #666;
	text-decoration: line-through;
}
.box-prod .btn{
	display: block;
	float: left;
	width: 100%;
	padding: 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	background: #3BBB9B;
	border-bottom: 3px #1E9697 solid;
}

/*FOOTER*/
.footer{
	background: #8BC5B8;
	margin-top: 75px;
	padding-top: 25px;
	position: relative;
}
.footer:before{
	display: block;
	margin: 0 auto 0 -50px;
	width: 100px;
	height: 100px;
	background: #8BC5B8;
	content: url(../images/fastway/icons/newsletter.png);
	position: absolute;
	top: -50px;
	left: 50%;
	border-radius: 100px;
}
.footer:before img{
	margin: 0 auto;
	display: block;
}
.footer .title{
	font-size: 3em;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-weight: 300;
	padding: 15px 0;
	margin: 0
}
.footer .tagline{
	text-transform: uppercase;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	font-weight: 300;
	padding: 0;
	margin: 0
}
.footer .btn-news{
	background: #6EAD9F;
	border: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.1em;
	font-weight: 100;
	cursor: pointer;
}
.footer input[type=text],
.footer input[type=email]{
	padding: 15px;
	font-size: 1.1em;
	text-transform: uppercase;
}
.footer-bottom .title{
	font-size:1.5em;
	text-align: left;
	font-weight: 400;
	text-transform: uppercase;
}
.footer-bottom ul{
	display: block;
	float: left;
	width: 100%;
}
.footer-bottom li{
	display: block;
	float: left;
	width: 100%;
	padding: 6px 0 0 0
}
.footer-bottom li:first-of-type{
	padding-top:15px;
}
.footer-bottom a{
	text-transform: capitalize;
	color: #666;
	font-size: 1.2em
}
.footer-bottom .payment{
	padding-top:15px;
}